body{
    background: url("img/tile_color.png") repeat;
    background-size: 10%;
    -webkit-animation: scrolling 20s linear infinite;
    -moz-animation: scrolling 20s linear infinite;
    -o-animation: scrolling 20s linear infinite;
    animation: scrolling 20s linear infinite;
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
}

  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

@-webkit-keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 75% 75%;
  }
}

.container {
    display: grid;
    place-items: center; /* Centers both vertically and horizontally */
    height: 100vh;
    width: 100vw;
  }


  .bounce-image {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .bounce-image:hover {
    animation: bounce 0.6s ease infinite;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }